.Dice {
    background: red;
    width: 55px;
    float: left;
    
    }
    .Dice .transition {
    transition: all 3s ease 0s;
    color: white;
    padding-bottom: 10px;
    }
    .Dice .transition.show {
    padding-bottom: 300px;
    background: red;
    }